# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized

**Objectives:**
- List the popula languages used by Data Scientists in an ordered list
- List some  the commonly used libraries used by Data scientists in an ordered list
- Display table in a Markdown cell
- Use code cell to do basic calculation
- Use Code cell with code along wih comments

Some of the popular languages that Data Scientists use are
1. Python
2. R
3. SQL
4. Java

Some of the commonly used libraries used by Data Scientists include
1. NumPy
2. Pandas
3. Matplotlib
4. SciPy

|Data Science Tools|
-----------------------------
|RStudio|
|Tensor Flow|
|Apache Spark|

### Below are a few examples of evaluating arithmetic expressions in Python

In [2]:
#This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [4]:
#his will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

## Author
Priyan Thiruthiyil